.image-resize-form{
    min-width: 100%;
}
.error{
    color: red;
}
.upload-img-transform-button{
    background-color: #0000; /* Your custom color */
    margin: 5px 0 0 5px;
    color:white;
}
.upload-img-transform-button:hover {
    background-color:  #6d83c3; /* Your custom color */
}