{% load static %}
{% load component_tags %}
{% component_css_dependencies %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImageAssistant: Free Online Image Editing and Enhancement Tools</title>
    <meta name="description" content="ImageAssistant is a free online image editing and design tool that allows you to create and edit images for free.">
    <!-- Materialize CSS -->
    <link href="{% static 'css/custom-materialize.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link  href="{% static  'css/dist_cropper/cropper.css' %}" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">
            <img class="logo-img" src="{% static 'img/logo.png' %}">
            <span class="logo-text">Image Assistant</span>
        </a>
        <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        <!-- <form class="hide-on-med-and-down">
            <div class="input-field right">
              <input id="search" type="search" required placeholder="search for services">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
        </form> -->
    </div>
</nav>
<!-- <div class="sidenav" id="mobile-demo">
    <form>
        <div class="input-field left">
            <input id="search" type="search" required placeholder="search for services">
            <label class="left label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="left material-icons">close</i>
        </div>
    </form>
</div> -->
<div class="container-fluid custom-container">
    {% block content %}
       
    {% endblock %}
</div>
<footer class="page-footer">
    <div class="footer-copyright center">
      <div class="container">
      © 2014 imageassistant
      </div>
    </div>
</footer>
<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'js/dist_cropper/cropper.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>
</body>
</html>
