{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="p-2 mx-auto rounded-1l h-[calc(100vh-130px)] mt-5">
    <div class="w-full" x-data="{ open: false }">
        <button @click="open = !open" class="w-full px-4 py-2 bg-[#111827] text-left rounded-t-lg focus:outline-none border-2 border-gray-300">
            <span class="text-gray-300">I don't see options to enhance and edit?</span>
            <span x-show="!open">+</span>
            <span x-show="open">-</span>
        </button>
        <div x-show="open" class="px-4 py-2 bg-[#111827]">
            <p class="text-[#e7eaef]">These services will be available in the near future.</p>
        </div>
    </div>
    <div class="w-full" x-data="{ open: false }" class="mt-2">
        <button @click="open = !open" class="w-full px-4 py-2 text-left bg-[#111827] rounded-t-lg focus:outline-none border-2 border-gray-300">
            <span class="text-gray-300">Is it free to use?</span>
            <span x-show="!open">+</span>
            <span x-show="open">-</span>
        </button>
        <div x-show="open" class="px-4 py-2 bg-[#111827]">
            <p class="text-[#e7eaef]">Yes, the platform is currently free, though this may change in the future.</p>
        </div>
    </div>
    <div class="w-full" x-data="{ open: false }" class="mt-2">
        <button @click="open = !open" class="w-full px-4 py-2 text-left bg-[#111827] rounded-t-lg focus:outline-none border-2 border-gray-300">
            <span class="text-gray-300">How many images can I download?</span>
            <span x-show="!open">+</span>
            <span x-show="open">-</span>
        </button>
        <div x-show="open" class="px-4 py-2 bg-[#111827]">
            <p class="text-[#e7eaef]">You can download as many as you like. This will ikely change to a token system.</p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
{% endblock %}
{% block footer %}
<div class="grid grid-cols-12">
    <footer class="col-span-12 text-center p-2">
        © {% now "Y" %} Image Assistant. All rights reserved.
    </footer>

</div>
{% endblock %}