{% extends 'base.html' %}
{% load static %}
{% load partials %}


{% partialdef images  %}
        {% if no_search_images %}
            <div class="col-span-4 text-center p-8 my-6 bg-gradient-to-r from-indigo-100 to-purple-100 rounded-lg shadow-md border border-gray-200">
                <svg class="w-16 h-16 mx-auto text-indigo-500 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                </svg>
                <h1 class="text-2xl font-bold text-gray-800 mb-6">No images found</h1>
            </div>
        {% endif %}
            <div>
                <img src="{% static 'img/kitten_in_a_forest.png' %}" alt="Kitten in a forest" class="object-scale-down border-solid border-4 border-gray-300"/>
                <h6 class="text-sm text-[1rem] m-2 ">Prompt: kitten in a forest</h6>
            </div>
            <div>
                <img src="{% static 'img/man_walking_in_the_forst.png' %}" alt="Man walking in the forest" class="object-scale-down border-solid border-solid border-4 border-gray-300"/>
                <h6 class="text-sm text-[1rem] m-2 ">Prompt: Man walking in the forest</h6>
            </div>
            <div>
                <img src="{% static 'img/rat_in_a_trap.png' %}" alt="Rat in a trap" class="object-scale-down border-solid border-solid border-4 border-gray-300"/>
                <h6 class="text-sm text-[1rem] m-2 ">Prompt: Rat in a trap</h6>
            </div>
            <div>
                <img src="{% static 'img/woody_cottage_in_a_jungle.png' %}" alt="Woody cottage in a jungle" class="object-scale-down border-solid border-solid border-4 border-gray-300"/>
                <h6 class="text-sm text-[1rem] m-2 ">Prompt: Animated Woody cottage in a jungle</h6>
            </div>
            <div>
                <img src="{% static 'img/animated_dog.png' %}" alt="Animated dog" class="object-scale-down order-solid border-solid border-4 border-gray-300"/>
                <h6 class="text-sm text-[1rem] m-2 ">Prompt: Animated dog</h6>
            </div>
            <div>
                <img src="{% static 'img/house_in_the_forset.png' %}" alt="House in the forest" class="object-scale-down border-solid border-solid border-4 border-gray-300"/>
                <h6 class="text-sm text-[1rem] m-2 ">Prompt: House in the forest</h6>
            </div>
            <div>
                <img src="{% static 'img/megatron_fighting.png' %}" alt="Megatron fighting animated" class="object-scale-down border-solid border-solid border-4 border-gray-300"/>
                <h6 class="text-sm text-[1rem] m-2 ">Prompt: Megatron fighting, must be animated</h6>
            </div>
            <div>
                <img src="{% static 'img/thor_with_hammer.png' %}" alt="Thor with hammer coming down from heaven" class="object-scale-down border-solid border-solid border-4 border-gray-300"/>
                <h6 class="text-sm text-[1rem] m-2 ">Prompt: Thor with his hammer comming down from heaven, must be animated</h6>
            </div>
{% endpartialdef %}

{% partialdef searched-images %}
    {% for image in images %}
            <div>
                {% if image.alternate_url %}
                    <img src="{{ image.alternate_url }}" alt="{{ image.alt }}" class="object-scale-down border-solid border-solid border-4 border-gray-300"/>
                {% else %}
                    <img src="{{ image.image.url }}" alt="{{ image.alt }}" class="object-scale-down border-solid border-solid border-4 border-gray-300"/>
                {% endif %}
                <h6 class="text-sm text-[1rem] m-2 ">Prompt: {{ image.prompt }}</h6>
                {% if image.alternate_url %}
                    <a href="{{ image.alternate_url }}" download="{{ image.alternate_url }}" class="bg-indigo-600 hover:bg-indigo-700 text-white py-2 p-4">Download</a>
                {% else %}
                    <a href="{{ image.image.url }}" download="{{ image.image.url }}" class="bg-indigo-600 hover:bg-indigo-700 text-white py-2 p-4">Download</a>
                {% endif %}
            </div>
    {% endfor %}
{% endpartialdef %}

{% block content %}
<div class="md:h-[calc(100vh-10px)] m-2">
    <div class="grid grid-cols-1">
        <div class="mt-2 mb-2 text-left sm:text-center">
            <h1 class="text-5xl font-bold">Image Assistant</h1>
            <h6 class="text-left md:text-center text-xl mt-2">Platform that helps you  generate, enhance, and edit images using AI.</h6>
        </div>
        {% if not user.is_authenticated %}
            <div class="mt-4 mb-6 text-left sm:text-center">
                <a href="{% url 'custom_users:signup' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white p-4 rounded-full">
                    Get Started
                
                </a>
            </div>
        {% endif %}
    </div>
    <div id="main-content" class="grid grid-cols-1 md:grid-cols-4 gap-2">
        {% partial images %}
    </div>
</div>

{% endblock %}
