{% load static %}
{% load component_tags %}
{% component_css_dependencies %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image assistant</title>
    <!-- Materialize CSS -->
    <link href="{% static 'css/custom-materialize.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link  href="{% static  'css/dist_cropper/cropper.css' %}" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">
            <img class="logo-img" src="{% static 'img/logo.png' %}">
            <span class="logo-text">Image Assistant</span>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="center hide-on-med-and-down">
            <li><a href="{% url 'base' %}">Home</a></li>
        </ul>
        <form class="hide-on-med-and-down">
            <div class="input-field right">
              <input id="search" type="search" required placeholder="search for services">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>
<div class="sidenav" id="mobile-demo">
    <ul>
        <li><a href="{% url 'base' %}">Home</a></li>
    </ul>
    <form>
        <div class="input-field left">
            <input id="search" type="search" required placeholder="search for services">
            <label class="left label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="left material-icons">close</i>
        </div>
    </form>
</div>
<div class="container-fluid custom-container">
       <div id="content">
            <div class="row">
                <div class="col s12">
                    <div id="main-banner">
                        <div class="row">
                            <div class="col s12 m12 l12 x12">
                                <div class="banner-text">
                                    <h1 class="banner">Unlock Your Image's Full Potential</h1>
                                    <h5>Transform, Enhance, and Personalize your images with ImageAssistant's powerful tools.
                                        Start creating stunning visuals in just a few clicks!
                                    </h5>
                                </div>
                                {% component "upload_form" id="upload-form" target="#content" swap="innerHTML"  url="images:add" %}{% endcomponent %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 xs12 m12 l12 x12" style="margin-bottom: 50px;">
                    <h2 class="center">Our Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col s12 xs12 m4 l4" style="margin-top: 50px;">
                  <div class="card">
                    <div class="card-image">
                      <span class="card-title" style="color:black">Black & White Conversion</span>
                    </div>
                    <div class="card-content">
                      <p>Transform your images into classic black-and-white using advanced grayscale techniques with Pillow, a powerful Python library. This service is perfect for adding a timeless, artistic feel to photos or preparing images for use in documents, presentations, or websites where a monochrome aesthetic is preferred.

                      </p>
                      <p><strong>Price:</strong> Free</p>
                    </div>
                  </div>
                </div>
                <div class="col s12 xs12 m4 l4" style="margin-top: 50px;">
                    <div class="card">
                        <div class="card-image">
                            <span class="card-title" style="color:black">Resizing</span>
                        </div>
                        <div class="card-content">
                            <p>Ensure your images fit perfectly for any platform with our high-quality resizing service.
                                Using the Pillow library, we can resize images to specified dimensions while maintaining optimal clarity and resolution.
                                Attention! a small image when resized to a larger size may lose quality.
                            </p>
                            <p><strong>Price:</strong> Free</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 xs12 m4 l4" style="margin-top: 50px;">
                    <div class="card">
                        <div class="card-image">
                            <span class="card-title" style="color:black">Remove background</span>
                        </div>
                        <div class="card-content">
                            <p>This is uses Machine learning to analyse an image and isolate the backrgound. This is a paid service and the price.
                            </p>
                            <p><strong>Price:£1</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<footer class="page-footer">
    <div class="footer-copyright center">
      <div class="container">
      © 2014 imageassistant
      </div>
    </div>
</footer>
<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'js/dist_cropper/cropper.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>
</body>
</html>
