.custom-container{
    min-height: calc(100vh - 170px);
}
/* Default size - Mobile */
.logo-img {
    display: none;
}
.logo-text {
    display: block;
    margin-left: 5px;
    width: 100%;
    font-size: 0.5em;
}

/* home page styles */
.custom-margin-top {
    margin-top: 10px;
}


.carosel-custom-style {
    background-color: 	#3c649f;
}
.card-horizontal-custom{
    min-height: 500px;
    text-align: center;
}
.card-services-custom{
    background-color:#6f52a3;
}

.custom-footer{
  height: 100px;
}


.file-path-validate-custom{
    color:blue;
}

#indicator2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
    width: 100%; /* Full width or adjust as needed */
    position: relative; /* Ensure positioning context for centering */
  }

  .spinner-layer {
    width: 100px; /* Size of the spinner */
    height: 100px; /* Size of the spinner */
  }
.img-container{
    min-width: 100%;
    min-height: 80vh;
    display: inline-block;
    background-color: #424549;
}

.download-button {
    position: absolute;
    top: 10px; /* Adjust the spacing from the top edge */
    right: 10px; /* Adjust the spacing from the right edge */
}

.image-resize-form{
    min-width: 100%;
}

.custom-img-upload-button, .custom-img-transform-button{
    background-color: #ffffff; /* Your custom color */
    margin: 5px,0,0,5px;
    color:black
    
}
.custom-img-upload-button:hover, .custom-img-transform-button:hover {
    background-color: lightgray; /* Your custom color */
}

.custom-img-transform-button:hover {
    background-color: 	lightgray; /* Your custom color */
}

/* Small tablets and large phones */
@media (min-width: 600px) {
    .logo-img {
        max-width: 200px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}

/* Tablets and small desktops */
@media (min-width: 768px) {
    .logo-img {
        max-width: 220px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}

/* Desktop size */
@media (min-width: 992px) {
    .logo-img {
        max-width: 250px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}

/* Large desktops and Surface Pro */
@media (min-width: 1200px) {
    .logo-img {
        max-width: 300px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}

/* Surface Pro 7 specific media query */
@media (min-width: 1366px) and (max-width: 2736px) {
    .logo-img {
        max-width: 320px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}
