.custom-container{
    min-height: calc(100vh - 135px);
}
#content{
    margin: 0,auto;
    min-height: calc(100vh - 200px);
    overflow-y: auto;
}
/* style the overflow on Y */
#content::-webkit-scrollbar {
    width: 10px;
}
#content::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#main-banner {
    height: 500px;
    color:black;
    margin-bottom: 1%;
    background-color: white;
    margin-top: 10px;
}

.banner-text{
    font-size: 1.5em;
    font-weight: bold;;
    text-align: left;
    margin:0;
    padding:5px;
}

.custom-card-height{
    min-height: 258px;
}
/* Default size - Mobile */
.logo-img {
    display: none;
}
.logo-text {
    display: block;
    margin-left: 5px;
    width: 100%;
    font-size: 0.5em;
}
/* home page styles test */
/* home page styles */
.custom-margin-top {
    margin-top: 10px;
}


.carosel-custom-style {
    background-color: 	#3c649f;
}
.card-horizontal-custom{
    min-height: 500px;
    text-align: center;
}
.card-services-custom{
    background-color:#6f52a3;
}

.custom-footer{
  height: 100px;
}


.file-path-validate-custom{
    color:blue;
}

.custom-img-transform-button{
    background-color: #284db7; /* Your custom color */
    margin: 5px 0 0 5px;
    color:white;

}
.custom-img-transform-button:hover {
    background-color:  #6d83c3; /* Your custom color */
}


.spinner-layer {
width: 100px; /* Size of the spinner */
height: 100px; /* Size of the spinner */
}
#processed-img{
    background-image: url('../img/moroccan-flower.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.download-button {
    position: absolute;
    top: 10px; /* Adjust the spacing from the top edge */
    right: 10px; /* Adjust the spacing from the right edge */
}

.image-resize-form{
    min-width: 100%;
}

/* styles for the stripe return form */
.hidden{
    display: none;
}

/* stripe retun page styles */
#success{
    font-size: 1.3rem;
    width:50%;
}

/* Small tablets and large phones */
@media (min-width: 600px) {
    .logo-img {
        max-width: 200px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}

/* Tablets and small desktops */
@media (min-width: 768px) {
    .logo-img {
        max-width: 220px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}

/* Desktop size */
@media (min-width: 992px) {
    #main-banner {
        background-color: #f9f9f9;
    }
    .banner-text{
        text-align: center;
    }
    .logo-img {
        max-width: 250px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}

/* Large desktops and Surface Pro */
@media (min-width: 1200px) {
    .banner-text{
        text-align: center;
    }
    .logo-img {
        max-width: 300px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}

/* Surface Pro 7 specific media query */
@media (min-width: 1366px) and (max-width: 2736px) {
    .banner-text{
        text-align: left;
    }
    .logo-img {
        max-width: 320px;
        height: 64px;
        display: block;
    }
    .logo-text {
        display: none;
    }
}
