{% load static %}
            <input type="hidden" id="stripe_public_key" value="{{ stripe_public_key }}">
            <div class="row">
                <div class="col s12">
                    <input type="hidden" id="service_id" value="{{ service_id }}">
                    <input type="hidden" id="image_id" value="{{ image_id }}">
                    <input type="hidden" id="csrfmiddlewaretoken" value="{{ token }}">
                      <div id="checkout">
                        <!-- Checkout will insert the payment form here -->
                    </div>
                </div>
            </div>
{% component_js_dependencies %}