{% load static %}
<link  href="{% static  'css/dist_cropper/cropper.css' %}" rel="stylesheet">
<div class="row">
    <div class="col s12 m12 l12 x12">
        <form id="crop-form" hx-post="{% url 'images:service' service_id=service_id image_id=image_id %}"  hx-target="#img-container" hx-swap="innerHTML" hx-trigger="submit">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ token }}">
            {% for field in form %}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <span class="helper-text" id="error">{{ error }}</span>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            <button id="apply" class="waves-effect waves-light btn custom-img-transform-button" type="submit" name="action">Apply
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
    <div class="col s12 m12 l12 x12 mt5">
        <img src="{{img_url}}" id="cropping-image" class="responsive-img">
    </div>
</div>
<script>
    // check when document in locaded in js, not jquery
    function load(){
        console.log("loading");
        const image = document.getElementById('cropping-image');
        const cropForm = document.getElementById('crop-form');
        const x = document.getElementById('id_x');
        const y = document.getElementById('id_y');
        const width = document.getElementById('id_width');
        const height = document.getElementById('id_height');
        image.style.display = 'block';
        const cropper = new Cropper(image, {
            aspectRatio: 16 / 9,
            crop: function (event) {
                x.value = event.detail.x;
                y.value = event.detail.y;
                width.value = event.detail.width;
                height.value = event.detail.height;
            }
        });
    }
    load();

</script>
