
<div id="pricing-banner">
    <div class="row">
        <div class="col s12 m12 l12 x12">
            <h1>Pricing</h1>
            <div class="chip" id="custom-chip">
                Greyscale: <span style="font-weight: bold;"> Free</span>
            </div>
            <div class="chip" id="custom-chip">
                Remove Background: <span style="font-weight: bold;"> $1</span>
            </div>
            <div class="chip" id="custom-chip">
                Resize: <span style="font-weight: bold;"> Free</span>
            </div>
            <div class="chip" id="custom-chip">
                Create Thumbnail: <span style="font-weight: bold;"> Free</span>
            </div>
           
        </div>
    </div>
</div>