#pricing-banner{
    text-align: center;
    height:60%;
    color:black;
    width:100%;
    margin-top: 5%;
}
#pricing-banner h1{
    font-size: 5rem;
    text-align: center;
    margin:0;
}
#custom-chip{
    background-color: #284db7;
    color: white;
    margin-top: 10px;
   
}


@media screen and (max-width: 1024px) {
    #pricing-banner{
        text-align: left;
        margin-top: 20%;
    }
    #pricing-banner h1{
        text-align: left;
    }
}