{% extends 'base.html' %}
{% load partials %}

{% partialdef password-reset-form %}
{% if success %}
    <div class="bg-green-100">
        <p class="mb-2 text-sm text-black-500 p-4 rounded-lg"><strong>We have sent you an email.</strong> Use the link to reset your password.</p>
    </div>
{% else %}
{% endif %}

<form hx-target="{{target}}" hx-post="{% url 'custom_users:change-password' %}" id="change-password-form" hx-swap="innerHTML">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-4 text-left">
            <label for="{{ field.id_for_label }}" class="block text-gray-700">{{field.label}}</label>
            {{field}}
            {% for error in field.errors %}
                <p class="text-sm text-red-500">{{error}}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="w-full bg-indigo-600 hover:bg-indigo-700 rounded-full text-white py-2 rounded-lg" onclick="htmx.trigger('#login-form', 'submit')">Submit</button>
</form>
{% endpartialdef %}

{% block content %}
<div class="m-3 mt-[10%] flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Change your password</h2>
        <div id="change-password-form-container">
            {% partial password-reset-form %}
        </div>
    </div>
</div>
{% endblock %}