{% extends 'base.html' %}
{% load partials %}

{% partialdef login-form %}
{% if redirect %}
    <meta http-equiv="refresh" content="0;url={% url 'dashboard' %}">
{% endif %}
<form hx-target="#login-form-container" hx-post="{% url 'custom_users:login' %}" id="login-form" hx-swap="innerHTML">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-4 text-left">
            <label for="{{ field.id_for_label }}" class="block text-gray-700">{{field.label}}</label>
            {{field}}
            {% for error in field.errors %}
                <p class="text-sm text-red-500">{{error}}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <a href="{% url 'custom_users:change-password' %}" class="text-indigo-600 hover:text-indigo-700 block">Forgot password?</a>
    <button type="submit" class="w-full mt-2 py-2 px-4 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-color" onclick="htmx.trigger('#login-form', 'submit')">Sign in</button>
</form>
{% endpartialdef %}

{% block content %}
<div class="m-3 mt-[10%] flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Sign in</h2>
        <div id="login-form-container">
            {% partial login-form %}
        </div>
        <a href="{% url 'custom_users:signup' %}" class="text-indigo-600 hover:text-indigo-700 block mt-2">Don't have an account? Sign up</a>
    </div>
</div>
{% endblock %}