{% extends 'base.html' %}



{% block content %}
<div class="m-3 mt-[10%] flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        {% if form %}
            <h2 class="text-2xl font-bold mb-6 text-center">Change password</h2>
            <form method="post" action="" id="password-reset-confirm-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-4 text-left">
                        <label for="{{ field.id_for_label }}" class="block text-gray-700">{{field.label}}</label>
                        {{field}}
                        {% for error in field.errors %}
                            <p class="text-sm text-red-500">{{error}}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="w-full bg-indigo-600 hover:bg-indigo-700 rounded-full text-white py-2 rounded-lg" onclick="htmx.trigger('#password-reset-confirm-form', 'submit')">Sign in</button>
            </form>
        {% else %}
            <div class="px-4 py-3 rounded relative" role="alert">
                <p class="mb-3"><strong class="font-bold">Link is invalid. The Password was successfully changed!</strong></p>
                <a href="{% url 'custom_users:login' %}" class="w-full bg-indigo-600 hover:bg-indigo-700 rounded-full text-white py-2 rounded-lg p-5">Login</a>
                <hr class="my-3">
                <a href="{% url 'custom_users:change-password' %}" class="text-indigo-600 hover:text-indigo-700 block mt-2">Change password again?</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}