{% load static %}
<div id="main-banner">
    <div class="row">
        <div class="col s12 m12 l12 x12">
            <img src="{% static 'img/processing_image_bg.jpg' %}" id="banner-img" class="responsive-img hide-on-small-and-down">
            <div id="banner-text">
                <h1 class="banner">Unlock Your Image's Full Potential</h1>
                <h6 class="banner-subheading">Transform, Enhance, and Personalize your images with ImageAssistant's powerful tools.
                    Start creating stunning visuals in just a few clicks!</h6>
            </div>
        </div>
    </div>
</div>