#main-banner {
    height: 500px;
    color:black;
    margin-bottom: 1%;
    background-color: #f5f5f5;
    margin-top: 10px;
}
#banner-text{

}
#banner-img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.banner{
    font-size: 5rem;
}
.banner-subheading{
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    #main-banner {
        height: 400px;
        position: static;
    }
    #banner-text{
        top: 10%;
        left: 5%;
        width: 90%;
        color: black;
    }
    .banner{
        font-size: 3rem;
    }
    .banner-subheading{
        font-size: 1.5rem;
    }
    #banner-img{
        display: none;
    }

   
    
}

@media screen and (max-width: 1024px) {
    #main-banner {
        height: 400px;
        position:static;
    }
    #banner-text{
        width: 90%;
        color: black;
    }
    .banner{
        font-size: 4rem;
    }
    .banner-subheading{
        font-size: 2rem;
    }
    #banner-img{
        display: none;
    }
}