{% extends 'base.html' %}
{% block content %}

{% csrf_token %}
<input type="hidden" id="stipe_public_key" value="{{ stipe_public_key }}">
<div class="row">
    <div class="col s12 m12 lg12 x12 custom-margin-top">
        <div id="checkout">
            <!-- Checkout will insert the payment form here -->
        </div>
    </div>
</div>
<script>
    const token = document.querySelector("input[name='csrfmiddlewaretoken']").value;
    const urlParams = new URLSearchParams(queryString);
    const service_id = document.querySelector("#service_id").value;
    const image_id = document.querySelector("#image_id").value;
    // This is your test secret API key.
    const stripPublicKey = document.getElementById('stipe_public_key').value;
    const stripe = Stripe(stripPublicKey);

    initialize();

    // Create a Checkout Session
    async function initialize() {
    const fetchClientSecret = async () => {
        const response = await fetch(`/images/create/checkout/session/${service_id}/${image_id}/`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": token,
            },
        });
        const { clientSecret } = await response.json();
        return clientSecret;
    };

    const checkout = await stripe.initEmbeddedCheckout({
        fetchClientSecret,
    });

    // Mount Checkout
    checkout.mount('#checkout');
    }
</script>
{% endblock %}