{% extends 'base.html' %}
{% block content %}
<input type="hidden" id="domain" value="{{ domain }}">
<div class="grid-cols-12">
        <div class="card-panel hidden"  id="success" style="font-size: 1.2em; min-width: 100%">
            <div style="display: inline-flex; justify-content: space-between; align-items: center; width: 30%;mb-4">
                <span id="service_name_holder"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
            </div>
            <blockquote style="text-sm m-4 text-white-200">
                Payment Successful. We appreciate your business! A confirmation email will be sent to <span id="customer-email"></span>.
    
                If you have any questions, please email <a href="mailto:cormackandy@hotmail.com"></a>quoting the service number: <span id="service_id_display"></span>
                and Image ID: <span id="image_id_display"></span>.
            </blockquote> 
        </div>
</div>
<div id="content" class="grid-cols-12 mt-5">
</div>

<script>
        initialize();

        async function initialize() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const sessionId = urlParams.get('session_id');
        const service_id = urlParams.get('service_id');
        const service_name = urlParams.get('service_name');
        const service_id_display = document.getElementById('service_id_display');
        const image_id_display = document.getElementById('image_id_display');
        const service_name_holder = document.getElementById('service_name_holder');
        service_name_holder.textContent = `Service: ${service_name}`;
        const image_id = urlParams.get('image_id');
        const response = await fetch(`/images/check/checkout/status/?session_id=${sessionId}`);
        const session = await response.json();
        const domain = document.getElementById('domain').value;

        if (session.status == 'open') {
            window.location.replace(`${domain}/stripe/checkout/?service_id=${service_id}&image_id=${image_id}`);
        } else if (session.status == 'complete') {
                const successPara = document.getElementById('success');
                successPara.classList.remove('hidden');
                document.getElementById('customer-email').textContent = session.customer_email
                htmx.ajax('GET', `${domain}/images/process/service/${service_id}/${image_id}/?payment_made=true`, {
                        target: '#content',
                        indicator: '#indicator'
                    }
                );
                service_id_display.textContent = service_id;
                image_id_display.textContent = image_id;
                return;
        }else{
            return;
        }
    }

</script>
{% endblock %}